@page "/proyectos/{id:int}/miembros"
@using Controllers
@using Domain
@using DTOs
@using UserInterface.Data

@inject UsuarioController Usuarios
@inject ProyectoController Proyectos
@inject TareaController Tareas

@inject SessionLogic SessionLogic
@inject NavigationManager NavigationManager

<h1>
    Miembros
</h1>

@if (!string.IsNullOrEmpty(mensajeError))
{
    <div class="alert alert-danger">@mensajeError</div>
}

@if (usuariosDisponibles?.Any() == true)
{
    <div class="d-flex mb-3">
        <select @bind="usuarioSeleccionadoId" class="form-select me-2" style="max-width: 300px;">
            @foreach (UsuarioDTO usuario in usuariosDisponibles)
            {
                <option value="@usuario.Id">@usuario.Nombre @usuario.Apellido (@usuario.Email)</option>
            }
        </select>
        <button class="btn btn-primary" @onclick="AgregarMiembro">Agregar</button>
    </div>
}
else
{
    <p><em>No hay usuarios disponibles para agregar.</em></p>
}

@if (listaDeMiembros is not null)
{
    <table class="table">
        <thead>
        <tr>
            <th>Email</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha de Nacimiento</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        @foreach (UsuarioDTO usuario in listaDeMiembros)
        {
            <tr>
                <td>@usuario.Email</td>
                <td>@usuario.Nombre</td>
                <td>@usuario.Apellido</td>
                <td>@usuario.FechaNacimiento.ToShortDateString()</td>
                <td>
                    <a class="btn btn-success btn-sm" href="/proyectos/@id/miembros/@usuario.Id/editar">Editar</a>
                    <button class="btn btn-danger btn-sm"@onclick="@(() => EliminarMiembro(usuario))">
                        Eliminar
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>Cargando miembros...</p>
}

@code {
    [Parameter]
    public int id { get; set; }
    
    private List<UsuarioDTO>? listaDeMiembros;
    private bool yaVerifiqueSesion = false;
    
    private List<UsuarioDTO>? usuariosDisponibles;
    private int usuarioSeleccionadoId;
    private ProyectoDTO? proyecto;
    private string mensajeError = string.Empty;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !yaVerifiqueSesion)
        {
            bool isUserActive = await SessionLogic.IsUserActive();
            if (!isUserActive)
            {
                NavigationManager.NavigateTo($"/proyectos/{id}/miembros");
            }
            else
            {
                listaDeMiembros = Proyectos.GetMiembrosDeProyecto(id);
                StateHasChanged(); 
            }
        }
    }
    protected override async Task OnInitializedAsync()
    {
        bool isUserActive = await SessionLogic.IsUserActive();
        if (!isUserActive)
        {
            NavigationManager.NavigateTo("/login");
            return;
        }

        proyecto = Proyectos.BuscarProyectoPorId(id);
        listaDeMiembros = Proyectos.GetMiembrosDeProyecto(id);

        ActualizarUsuariosDisponibles();
    }

    private void ActualizarUsuariosDisponibles()
    {
        List<UsuarioDTO> miembrosActuales = Proyectos.GetMiembrosDeProyecto(id);
        UsuarioDTO admin = Proyectos.GetAdminDeProyecto(id);
        
        usuariosDisponibles = Usuarios.GetAll()
            .Where(u => !miembrosActuales.Any(m => m.Id == u.Id) && admin.Id != u.Id)
            .ToList();

        if (usuariosDisponibles != null && usuariosDisponibles.Any())
        {
            usuarioSeleccionadoId = usuariosDisponibles.First().Id;
        }
        else
        {
            usuarioSeleccionadoId = -1;
        }
    }

    private void AgregarMiembro()
    {
        mensajeError = string.Empty;
        
        UsuarioDTO usuario = Usuarios.GetById(usuarioSeleccionadoId);
        if (usuario != null && proyecto != null)
        {
            try
            {
                Proyectos.AgregarMiembroProyecto(usuario.Id, id);
                listaDeMiembros = Proyectos.GetMiembrosDeProyecto(id);
                ActualizarUsuariosDisponibles();
                StateHasChanged();
            }
            catch (Exception ex)
            {
                mensajeError = ex.Message;
            }
        }
    }
    
    void EliminarMiembro(UsuarioDTO miembro)
    {
        try
        {
            ProyectoDTO proyecto = Proyectos.BuscarProyectoPorId(id);
            Proyectos.EliminarMiembro(miembro.Id, id);
            Tareas.EliminarAUsuarioDeTareasDeProyecto(miembro.Id, id);
            CargarMiembros();
            ActualizarUsuariosDisponibles();
            StateHasChanged();
        }
        catch (Exception ex)
        {
            mensajeError = ex.Message;
        }
    }
    
    void CargarMiembros()
    {
        listaDeMiembros = Proyectos.GetMiembrosDeProyecto(id);
    }
}