@*
@page "/recursos"
@using Domain
@using UserInterface.Data
@inject SessionLogic SessionLogic
@inject NavigationManager NavigationManager


@inject DB BaseDeDatos

<h1>
    Recursos
    <a class="btn btn-success btn-sm" style="float: right; margin-right: 40px;" href="/recursos/crear">Crear +</a>
</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Descripción</th>
            <th>Cantidad</th>
            <th>En uso</th>
            <th>Se comparten</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var recurso in listaDeRecursos)
        {
            <tr>
                <td>@recurso.Nombre</td>
                <td>@recurso.Tipo</td>
                <td>@recurso.Descripcion</td>
                <td>@recurso.CantidadDelRecurso.ToString()</td>
                <td>@recurso.CantidadEnUso.ToString()</td>
                <td>@recurso.SePuedeCompartir</td>
                <td>
                    <a class="btn btn-success btn-sm" href="recursos/@recurso.Id/editar/">Editar</a>
                    @if(@recurso.EstaEnUso()){
                        <button class="btn btn-danger btn-sm" disabled>Eliminar</button>
                    }
                    else
                    {
                        <button class="btn btn-danger btn-sm" @onclick="@(() => BaseDeDatos.eliminarRecurso(recurso))">Eliminar</button>

                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Recurso>? listaDeRecursos = new List<Recurso>();
    private bool yaVerifiqueSesion = false;
    Usuario usuarioLogeado;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var isUserActive = await SessionLogic.isUserActive();
        if (firstRender && !yaVerifiqueSesion)
        {
            if (!isUserActive)
            {
                NavigationManager.NavigateTo("/Login");
            }
            usuarioLogeado = await SessionLogic.GetCurrentUser();
            if (!BaseDeDatos.UsuarioEsAdmin(usuarioLogeado))
            {
                NavigationManager.NavigateTo("/");
            }
            else
            {
            listaDeRecursos = BaseDeDatos.ListaRecursos;
            StateHasChanged();
            }
        }
    }
}
*@

